---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/Linkedin.astro";
import GithubIcon from "../components/icons/GitHub.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../components/icons/Mail.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import CodeIcon from "../components/icons/Code.astro";
import CopyButton from "../components/CopyButton.astro";
---

<Layout title="Portfolio de jndr0 - Pentester">
  <main class="px-4">
    <SectionContainer class="py-24">
      <h1
        class="text-5xl light text-black dark:text-white font-bold flex justify-center flex-row gap-x-4 pb-4"
      >
        Hola soy Alejandro
        <div class="flex justify-center items-center">
          <a
            href="https://linkedin.com/in/alejandrops"
            target="_blank"
            rel="noopener"
            class="flex justify-center"
          >
            <Badge>Open to work</Badge>
          </a>
        </div>
      </h1>
      <h2 class="text-2xl opacity-50 pb-20 text-wrap">
        Soy un apasionado del pentesting y la ciberseguridad. Actualmente estoy
        estudiando un Máster en ciberseguridad ofensiva.
      </h2>
      <nav class="flex flex-row gap-5">
        <SocialPill href="https://linkedin.com/in/alejandrops">
          <LinkedInIcon class="size-6" /> LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/jndr0">
          <GithubIcon class="size-6" /> Github
        </SocialPill>
        <SocialPill href="mailto:penalversanchezalejandro@gmail.com">
          <MailIcon class="size-6" />penalversanchezalejandro@gmail.com
        </SocialPill>
        <CopyButton />
      </nav>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
