---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador de aplicaciones VR aplicacdas a la industria 5.0",
    company: "Qartia Smart Technologies",
    description:
      "Desarrollo de aplicaiones con Unreal Engine y Unity para la creación de entornos virtuales adaptados a la industria 5.0. Actualmente estoy trabajando en la creación de un entorno virtual para la visualización de datos en tiempo real de una fábrica. ",
    
  },
  {
    date: "febrero 2024 - junio 2024",
    title: "Desarrollador de aplicaciones VR",
    company: "Qartia Smart Technologies",
    description:
      "Desarrollo de aplicaiones con Unreal Engine y Unity para la creación de entornos virtuales adaptados a la industria 5.0.",
  },
  {
    date: "2019 - 2024",
    title: "Estudiante de Ingeniería Telemática",
    company: "Universidad Politécnica de Cartagena",
    description:
      "La Ingeniería Telemática es una disciplina que combina conocimientos de telecomunicaciones y tecnologías de la información para diseñar, implementar y gestionar sistemas y redes de comunicación. Abarca areas tales como el diseño, la implementación, la operación y mantenimiento de redes de comunicación y servicios telemáticos.",
    
  },
  
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>