<header
  class="flex justify-between items-center py-3 px-3 w-full xl:w-[1120px] mx-auto sticky top-0"
>
  <img
    class="rounded-full w-15 h-15"
    src="https://gravatar.com/userimage/242140419/34fe00d97d8d8d1e234bab36284c0eb5.jpeg"
    alt="Logo"
  />
  <nav class="flex flex-row gap-x-11">
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>
